name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: codegen clippy
      run: cd autorust && cargo clippy
    - name: vsts-api-patcher clippy
      run: cd vsts-api-patcher && cargo clippy
    - name: codegen build and run autogeneration
      run: ./build.sh
    - name: check autogeneration matches git repo
      run: git diff-index --cached --quiet HEAD
    - name: azure_devops_rust_api clippy
      run: cd azure_devops_rust_api && cargo clippy --all-features
    - name: azure_devops_rust_api build
      run: cd azure_devops_rust_api && cargo build --all-features
    - name: azure_devops_rust_api test
      run: cd azure_devops_rust_api && cargo test --all-features
